 body {
             font-family: 'Momo Signature', cursive;
             margin: 0;
        }

        table {
            width: 100%;
            height: 70vh;
            color: antiquewhite;
            background-color: rgb(80, 76, 76);
           
        }

        td {
            width: 25%;
            text-align: center;
             background-color: rgb(59, 54, 54);
            font-size: 24px;
        }

        td:hover {
            background-color: rgb(114, 95, 95);
            cursor: pointer;
        }

        #resultArea {
            height: 30vh;
            background-color: rgb(83, 81, 81);
            color: white;
            font-size: 60px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            padding: 24px;
            box-sizing: border-box;
        }
        #result {
            background-color: rgb(22, 118, 192);
        }
        #result:hover {
            background-color: rgb(186, 208, 227);
        }

        .highlight {
            background-color: rgb(62, 61, 61);
        }
